<div class="filters">
  <app-search (searchValueChanged)="getFormDataBySearch($event)"></app-search>
  <app-filter (filterValueChanged)="getFormDataByFilter($event)"></app-filter>
</div>

<div class="table">
  <div class="wrapper">
    <div class="header">
      <p class="id" (click)="changeOrderDirection()">Id</p>
      <p class="user-id">User id</p>
      <p class="type">Type</p>
      <p class="created-data">Created at</p>
      <p class="created-data">Updated at</p>
    </div>

    <div
      class="row"
      *ngFor="let form of formsData"
      (click)="closeMenu()"
      (contextmenu)="onRightClick($event, form)"
    >
      <div class="row-cell id">
        <p class="row-cell-text">{{ form.id }}</p>
      </div>
      <div class="row-cell user-id">
        <p class="row-cell-text">{{ form.user_id }}</p>
      </div>
      <div class="row-cell type">
        <p class="row-cell-text">{{ form.type }}</p>
      </div>
      <div class="row-cell created-data">
        {{ form.created_at }}
      </div>
      <div class="row-cell created-data">
        {{ form.updated_at | date : "short" }}
      </div>
    </div>
  </div>
</div>

<div class="pagination">
  <app-pagination
    [itemsPerPage]="paramsForApi.pageSize"
    [maxSizePages]="paramsForApi.maxSizePages"
    [collectionSize]="paramsForApi.length"
    (nextPage)="pagination($event)"
  >
  </app-pagination>
</div>

<div
  style="visibility: hidden; position: fixed"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="menu"
></div>

<mat-menu #menu="matMenu" [hasBackdrop]="false">
  <button mat-menu-item (click)="actionForms('create')">Создать форму</button>
  <button mat-menu-item (click)="actionForms('edit')">Редактировать форму</button>
  <button mat-menu-item (click)="deleteForm()">Удалить форму</button>
</mat-menu>