<app-search></app-search>

<div class="table">
  <div class="wrapper">
    <div class="header">
      <p class="id">Id</p>
      <p class="title">Title</p>
      <p class="type">type</p>
      <p class="min-max">min</p>
      <p class="min-max">max</p>
      <p class="max-length">max length</p>
      <p class="is-required">is required</p>
      <p class="order">order</p>
      <p class="created-data">created at</p>
      <p class="created-data">updated at</p>
    </div>

    <div
      class="row"
      *ngFor="let form of formsData"
      (click)="closeMenu()"
      (contextmenu)="onRightClick($event)"
    >
      <div class="row-cell id">
        <p class="row-cell-text">{{ form.id }}</p>
      </div>

      <div class="row-cell min-max">
        <p class="row-cell-text">{{ form.title }}</p>
      </div>

      <div class="row-cell type">{{ form.type }}</div>
      <div class="row-cell min-max">
        <p class="row-cell-text">{{ form.min }}</p>
      </div>
      <div class="row-cell min-max">
        <p class="row-cell-text">{{ form.max }}</p>
      </div>
      <div class="row-cell max-length">
        <p class="row-cell-text">{{ form.max_length }}</p>
      </div>
      <div class="row-cell is-required">
        <p class="row-cell-text">{{ form.is_required }}</p>
      </div>
      <div class="row-cell order">
        <p class="row-cell-text">{{ form.order }}</p>
      </div>
      <div class="row-cell created-data">
        {{ form.created_at | date : "short" }}
      </div>
      <div class="row-cell created-data">
        {{ form.updated_at | date : "short" }}
      </div>
    </div>
  </div>
</div>
<div class="pagination">
  <mat-paginator
    (page)="onPageChange($event)"
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator>
</div>

<div
  style="visibility: hidden; position: fixed"
  [style.left]="menuTopLeftPosition.x"
  [style.top]="menuTopLeftPosition.y"
  [matMenuTriggerFor]="menu"
></div>

<mat-menu #menu="matMenu" [hasBackdrop]="false">
  <button mat-menu-item>Создать форму</button>
  <button mat-menu-item>Редактировать форму</button>
  <button mat-menu-item>Удалить форму</button>
</mat-menu>
