:host {
  padding: 40px;
  .inputs-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item {
      display: flex;
      flex-direction: column;
      width: 100%;

      &:first-child {
        margin-right: 15px;
      }
    }
  }
}

.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
